<h1><%= @category.name %> Articles</h1>
<<<<<<< HEAD
<h3>There are <%= @category.articles.count %> articles filed under <%= @category.name %></h3>
<ul>
        <% @category.articles.order(:title).each do |article| %>
                <h4>
                  <%= link_to article.title, article %>
          </h4>
        <% end %>
</ul>
=======
	<h3>There are <%= @category.articles.count %> articles filed under <%= @category.name %></h3>
  <ul>
    <% @category.articles.order(:title).each do |article| %>
      <h4>
        <%= link_to article.title, article %>
      </h4>
   <% end %>
  </ul>
>>>>>>> 7ebf73791139a0fd277e89b74a34c303f131d313
